@CHARSET "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

/* remember to define visible focus styles!
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
from:
http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html
https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
*/


input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    border: 1px solid #000000;
    height: 40px;
    width: 40px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    border: 1px solid #000000;
    height: 40px;
    width: 40px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    border: 1px solid #000000;
    height: 40px;
    width: 40px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}

/* Start Player Eval CSS */

body {
    font-size:2.0em;
    margin:0;
    padding:0;
    font-family:"San Francisco",Calibri,Roboto,Arial,sans-serif;
}

a {
    text-decoration: none;
}

#main_container {
    margin:60px 5px 5px 5px;
    padding:5px;
}

#main_container::after {
    content: "";
    margin-top:100px;
    background: url(../img/520px-Baseball_svg-min.png) no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    opacity: 0.05;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    height:100%;
    width:100%;
}

label {
    margin:40px auto;
}

.player_criteria {
    width:90%;
    margin:40px 0;
}

input[type=text] {
    padding:10px;
    line-height:1.5;
    width:80%;
    font-size:1.2em;
    border:1px solid grey;
    margin-top:10px;
}

input[type=number], input[type=tel] {
    padding:5px;
    line-height:1.0;
    width:80%;
    font-size:1.0em;
    border:1px solid grey;
    margin-top:10px;
}

fieldset {
    text-align:center;
}

#player_id_container {
    text-align:left;
}

.criteria_value {
    padding-left:10px;
    font-weight:bold;
}

#submit_container {
    width:95%;
    margin-top:100px;
}

.green_button {
    -moz-box-shadow:inset 0 1px 0 0 #a4e271;
    -webkit-box-shadow:inset 0 1px 0 0 #a4e271;
    box-shadow:inset 0 1px 0 0 #a4e271;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
    background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
    background-color:#89c403;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #74b807;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:1.0em;
    font-weight:bold;
    padding:10px 30px;
    text-decoration:none;
    text-shadow:0 1px 0 #528009;
}

nav {
    height:50px;
    width: 100%;
    background: #e3e3e3;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

nav ul, nav li {
    padding:0;
    margin:0;
    display:inline-block;
}

nav li {
    padding:10px;
}

button.nav_button {
    height: 100%;
    background: #e3e3e3;
    border: 0 solid #bbb;
    color: #333;
    font-weight: bold;
    font-size: 70%;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
}

#menu a, #menu a:visited {
    color:blue;
}

.nav_left {

}

.nav_left a:after {
    content: "   \279F";
}

.nav_middle {
padding-left:0;
}

.nav_right {
    position:absolute;
    top:0;
    right:0;
    padding:0;
}

.nav_right img {
    height:40px;
    padding-top:3px;
}

.rw-logo {
    background:url(../img/RWLL-Logo-min.png) no-repeat;
    height:40px;
    padding-top:3px;
    z-index:100;
}

button.green_nav_button {
    background-color: #7fbf4d;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
    background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: linear-gradient(top, #7fbf4d, #63a62f);
    border: 1px solid #63a62f;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
    box-shadow: inset 0 1px 0 0 #96ca6d;
    color: #fff;
    font-size: 1.0em;
    padding: 7px 20px 8px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #4c9021;
    width: 75%; }

button.green_nav_button a, button.green_nav_button:visited {
    color:rgb(230,230,230);
}

.nav_button_container {
    margin:30px 0;
}

.error_messages {
    width:90%;
}

.error_message {
    color:red;
    font-size:90%;
}

.picture_error {
    color: red;
    margin: 20px 0;
}

#player_photo_container {
    margin: 20px auto;
}

#player_photo_container img {
    width:150px;
}

/* styling file inputs */

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
font-weight: 700;
text-overflow: ellipsis;
white-space: nowrap;
cursor: pointer;
display: inline-block;
overflow: hidden;
padding: 0.625rem 1.25rem;
/* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

/* style 3 */

.inputfile-3 + label {
    color: #d3394c;
    border:2px solid currentColor;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
    color: #722040;
}

/* pre and code tags */

code, samp, kbd {
    font-family: "Courier New", Courier, monospace, sans-serif;
    text-align: left;
    color: #555;
}
pre code {
    line-height: 1.6em;
    font-size: 11px;
}
pre {
    padding: 0.1em 0.5em 0.3em 0.7em;
    border-left: 11px solid #ccc;
    margin: 1.7em 0 1.7em 0.3em;
    overflow: auto;
    width: 93%;
}
/* target IE7 and IE6 */
*:first-child+html pre {
    padding-bottom: 2em;
    overflow-y: hidden;
    overflow: visible;
    overflow-x: auto;
}
* html pre {
    padding-bottom: 2em;
    overflow: visible;
    overflow-x: auto;
}

/* end pre and code */